* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 184, 184);
}

header {
    background-color: rgb(37, 82, 126);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border: 3px solid rgba(0, 0, 0, 0.459);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.logo h1 {
    color: #ffffff;
    margin-left: 10px;
    font-size: 24px;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color : #ffffff;
    text-decoration: none;
}

.social-links {
    display: flex;
    gap: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3e3e3e;
    text-decoration: underline;
}

/* Hero content styles */
main {
    margin: 20px 20px 0 20px;
}

.hero {
    text-align: center;
    padding: 50px;
    background-image: url('./images/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    height: 75vh;
    border: 3px solid rgba(0, 0, 0, 0.459);

}

h2 {
    color: #fff;
    background-color: rgba(37, 82, 126, 0.8);
    padding: 20px;
    font-size: 1.5rem;
    width: 50%;
    border: 3px solid rgba(0, 0, 0, 0.459);
}

.content-section {
    background-color: rgba(248, 184, 184, 0.8);
    font-size: 1.25rem;
    width: 47%;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
}

.content-section p {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.btn2 {
    width: 30%;
    background-color: lightgray;
    border: 3px solid rgba(0, 0, 0, 0.6);
    padding: 5px 15px;
    color: #000;
    align-self: flex-end;
}

.content-btn {
    width: 47%;
    display: flex;
gap: 20px;
}

.btn {
    flex: 1;
    padding: 5px 20px;
    color: #000;
    font-size: 1.25rem;
    background-color: lightgray;
    border: 3px solid rgba(0, 0, 0, 0.6);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f8b8b8;
    padding: 30px;
    font-size: 1.25rem;
}

footer nav {
    flex: 1;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}