/*==============================================================================================================
====================================================   Global   ================================================
==============================================================================================================*/
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*==============================================================================================================
====================================================   NAVIGATION/ HEADER  =====================================
==============================================================================================================*/
header {
    background-color: rgb(230, 157, 185);
    padding: 3px;
}

.logo {
    font-size: 1.5rem;
    font-family: "Courgette", cursive;
    font-weight: bold;
}

nav {
    width: 100%;
    background-color: rgb(230, 157, 185);
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 7px;
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 10px 10px;
    color: rgb(40, 43, 43);
    font-size: large;
    transition: 0.3s;
    font-weight: bold;
}

nav a:hover {
    color: whitesmoke;
    border-bottom: 5px solid whitesmoke;
    padding-bottom: 9px;
}

/*==============================================================================================================
====================================================   Body/Main   =============================================
==============================================================================================================*/
body {
    background-color: whitesmoke;
}

main {
    position: relative;
    align-self: center;
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: rgb(233, 219, 193);
    width:min(1200px,90%);
}

.highlight {
    background-color: yellow;
}

.introduction {
    text-align: center;
}
/*==============================================================================================================
====================================================   Footer   ================================================
==============================================================================================================*/
footer {
    background-color: rgb(230, 157, 185);
    text-align: right;
    width: 100%;
}
footer p {
    margin-right: 30px;
}